body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    margin-top: 1px;
    margin-bottom:1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

#cart-title {
    margin-top: 40px;
    margin-bottom: 5px;
    padding-left: 10%;
    font-weight: normal;
}

#cart-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 57% 40%;
    padding: 0% 10% 0% 10%;
    /* height: 100vh; */

}

/*Estilos del formulario*/
#form {
    border: 0.5px solid #212529;
    background-color: white;
}

#title {
    margin-top: 0px;
    margin-bottom: 1px;
    background-color: #212529;
    color: #ffffff;
    font-weight: bold;
}




.shipping-section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Ajusta el espacio entre el radio y el texto */
    font-size: small;
}

.radio input {
    appearance: none;
    width: 18px;
    height: 18px;
    margin-left: 50px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.radio input:checked {
    border-color: orange;
}

.radio input:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*DIRECCIÓN*/
.address-section-title {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: medium;
    margin-top: 10px;
}
.shipping-section-title {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: medium;
    margin-top: 10px;
}

.address-section input {
    width: 48%;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: small;
}

#number {
    width: 20%;
}

/*PAGO*/
.payment-title {
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    background-color: #212529;
    color: rgb(248, 248, 248);
    font-weight: bold;
    height: 35px;
    padding-left: 20px;
    margin-top: 10px;
}


/*Estilos del detalle y costos*/
#detail {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

/*DETALLE DEL PEDIDO*/
#item {
    display: flex;
    flex-direction: column;
    border: 1px solid #212529;
    margin-bottom: 5px;
}

.title-product {
    margin-bottom: 3px;
    text-transform: uppercase;
    background-color: #212529;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(248, 248, 248);
}

#product-list {
    height: 92%;
    overflow-y: auto;
}

.cart-product {
    border-bottom: 1.5px solid #c2c1c1;
    height: 5 rem;
    display: flex;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
}

img {
    height: 100%;
    width: 30%;
}

.product-info {
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    margin-bottom: 0;
    font-weight: bold;
}

.trash {
    margin-right: 2px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    padding-right: 2px;
    font-size: smaller;
}

.price p {
    margin-bottom: 0;
}

.quantity {
    margin-top: 2px;
    height: 33%;
    display: flex;
    align-items: center;
}

label {
    display: inline-flex;
    font-size: smaller;
}

input {
    width: 40px;
    height: 20px;
    margin-left: 5px;
    font-size: smaller;
}

#product-list::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra de desplazamiento vertical */
}

#product-list::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    /* Color del pulgar de la barra */
    border-radius: 10px;
    /* Bordes redondeados */
}

/*COSTO*/
#cost {
    height: 40%;
    border: 1px solid #69B5CC;
    ;
}

.cost-title {
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    background-color: #69B5CC;
    color: rgb(248, 248, 248);
    font-weight: bold;
    height: 35px;
    padding-left: 20px;
}

.btn.btn-secondary.mb-2.w-100 {
   background-color: transparent;
    
}
.btn.btn-success.w-100{
     background-color:  #212529
}
#continueShopping{
    color: #212529;
}

/* Responsive feature */

/* Margen adicional para evitar elementos pegados en pantallas pequeñas */
.container {
    padding: 0 10px;
}

/* Espaciado vertical en botones */
button {
    margin-top: 10px;
}

/* toast */

.toast {
    font-size: 1.2rem;
    min-width: 300px;
    padding: 1rem; 
    background-color: #212529;
    color: #ffffff !important;
}