h2 {
  padding-top: 35px;
}

.section {
  display: flex;
}

.product-container {
  display: flex;
  flex-direction: column;
}

.product-info {
  flex: 1; /* Asegura que la info ocupe el espacio restante */
  margin-left: 20px; /* Margen a la izquierda */
}

.carousel {
  flex: 2; /* Da más espacio al carrusel */
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

#related-products {
  display: flex; 
  flex-wrap: wrap;
}

#related-products .product-item {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.card {
  transition: transform 0.2s;
  width: 100%;
}

.card:hover {
  transform: scale(1.05); /* Aumentar el tamaño */
  transition: transform 0.2s; /* Efecto suave */
  border-color: black;
}

.review-card {
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 15px;
  transition: transform 0.1s ease-in-out;
  background-color: hsl(0, 0%, 99%);
}

.checked {
  color: gold;
  font-size: 25px;
  letter-spacing: 3px;
}

.review-date em {
  font-size: 9px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0em 2em 10px;
}

@media (max-width: 768px) {
  .section {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
      gap: 15px; /* Espacio menor en pantallas pequeñas */
  }
  .product-info {
      margin-left: 0; /* Elimina el margen en pantallas pequeñas */
  }
}

#user-comment {
  margin-bottom: 6px; /* Espacio debajo del formulario */
}
/*Cambios para cuando está en dark-mode*/
body.dark-mode {
  background-color: #2C2C2E; /* Fondo oscuro */
  color: white; /* Color de texto en modo oscuro */
  }
  body.dark-mode .user-info{
    color: #2C2C2E;
  }
  body.dark-mode .review-date{
    color: #2C2C2E;
  }
  body.dark-mode .card-body{
    color: #2C2C2E;
  }
